<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <h1>Bienvenido {{cookieInfo.userData.username}} {{cookieInfo.userData.lastname}}</h1>
  <h2>
{{#if cookieInfo.userData.role }}
    <h2>Sos admin</h2>
{{else}}

        <h2>Sos user</h2>

{{/if}}

    <ul> 
        {{#each products}}
        <li>
            <h3>{{this.title}}</h3> 
            <p>ID: {{this._id}}</p>
            <p>{{this.description}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
        </li>
        {{/each}}
    </ul>

    <div class="pagination">
        {{#if prevLink}}
            <a href="{{prevLink}}">Anterior</a>
        {{/if}}

        {{#if nextLink}}
            <a href="{{nextLink}}">Siguiente</a>
        {{/if}}
    </div>
    <script>
        
        function addToCart(productId) {
        }
    </script>
</body>
</html>


